<!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">NURETTİN</h1>
              <p class="intro-text">Amacım herkese en iyi çözümü sunmaktır.Proje fikirlerinizi paylaşmaktan sakınmayınız. İyi günler dilerim!</p>
              <a href="#hakkimda" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Hakkımda Seçimi -->
    <section id="hakkimda" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Hakkımda</h2>
            <p>23 Ağustos 1995 tarihinde Kocaeli'de doğdum. Hakkımda en son bilgiye bu sayfadan ulaşacaksınız. 
               Amacım herkese en iyi çözümü bulmak. Proje fikirlerinizi <a href="#fikir">Fikir Köşesi</a> aracılığıyla gönderebilirsiniz.</p>
            
              <p>2014 yılında başlayan <a href="http://www.firat.edu.tr/">Fırat Üniversitesi</a>
              Yazılım Mühendisliği adlı maceram halen devam ediyor. <a href="#makara">#Hedef2019</a>.</p>
            <p>Yazılım maceram eksisiyle artısıyla 6 yıla dayanıyor.İlgilendiğim programlama dilleri ; C,C#,Java,Html,Css,Js,Ruby on Rails dir.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Download Section -->
    <section id="fikir" class="download-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>FİKİR KÖŞESİ</h2>

<b>İSİM</b><input class="form-control form-field" type="text" value="" name="wb_input_0" required="required"><br>
<b>E-POSTA</b><input class="form-control form-field" type="text" value="" name="wb_input_0" required="required"><br>
<b>FİKİR</b><input type="hidden" name="wb_input_2" value="Mesaj"><textarea class="form-control form-field form-area-field" rows="3" cols="20" name="wb_input_2" required="required"></textarea>
  <br>
  <div class="actions">
     <center>
    <input type="submit" name="commit" value="GÖNDER" class="btn btn-default btn-lg"/>
  </div>
</form>
</center>

        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="iletisim" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>İLETİŞİM</h2>
            <p>Aşağıda görmüş olduğunuz iletişim kanallarından hemen iletişime geçebilirsiniz. 
              <a href="#fikir">#Fikir</a>
              Amacım herkese en iyi çözümü sunmak. İyi günler dilerim!</p>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/nurettinsansli" class="btn btn-default btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/nurettin-%C5%9Fansl%C4%B1-474040141" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Linkedln</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://plus.google.com/u/0/100852062750784543670" class="btn btn-default btn-lg">
                  <i class="fa fa-google-plus fa-fw"></i>
                  <span class="network-name">Google+</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>